@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e3 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica Neue-Light";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/61fd0f1b6b2468ecf928c177/fonts/helveticaneue-light.otf")
    format("opentype");
}

@font-face {
  font-family: "Helvetica Neue-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/637de592a17e9f3ed8e13315/fonts/helveticaneue-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Helvetica Neue-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62efcc24b713b99b6fc139de/fonts/helveticaneue.ttf")
    format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/63dcde9badcdfbdea71f504c/fonts/helveticaneuemed.ttf")
    format("truetype");
}
